<!DOCTYPE html>
<html>
  <head>
    <title>Plastic Bottle Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div id="map"></div>
    <button id="cameraButton">Take Picture</button>

    <!-- Camera view and canvas for capturing the image -->
    <video
      id="video"
      width="640"
      height="480"
      autoplay
      style="display: none"
    ></video>
    <canvas id="canvas" width="640" height="480" style="display: none"></canvas>
    <button id="captureButton" style="display: none">Capture</button>

    <input id="address-input" type="text" placeholder="Enter address" />

    <div id="infoBox"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=visualization,places"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
