<!DOCTYPE html>
<html>
  <head>
    <title>Take Picture</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/take_picture.css') }}"
    />
  </head>
  <body>
    <video id="video" autoplay></video>
    <canvas id="snapshot"></canvas>
    <button id="cameraButton">Take Picture</button>
    <button id="submitButton" style="display: none">Submit</button>
    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/take_picture.js') }}"></script>
  </body>
</html>
